.custab{
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }


.panel{
    margin-top:40px;
    }
.panel-head {
    padding:20px 0;
    background-color:#0073aa;
    color: white;
    }
.panel-head h3{
    margin-left: 20px;
}
.panel-body {
    border:1px solid #e5e5e5;
}
.export-btn {
    background-color:#0073aa;
}

